* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-image: url("hospital.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    line-height: 1.6;
    overflow-x: hidden;
    overflow-y: hidden;
}

.medi{
    width: 110px;
    height: 110px;
    margin-left: 20px;
    /* position: relative; */
    top: 10px;
}

.doc1{
    position: relative;
    left: 720px;
    bottom: 260px;
}

.doc1 img{
    height: 560px;
}

.meh{
    margin-left: 250px;
    position: relative;
    top: 130px;
}

.meh h1{
    font-size: 47px;
    font-family: Arial, Helvetica, sans-serif;
}

.meh p{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.intro{
    background-color: #d6ecf3;
    height: 599px;
}

.login{
    margin-left: 30px;
    position: relative;
    bottom: 100px;
    left: 200px;
}

.login-button {
    font-family:Arial, Helvetica, sans-serif ;
    /* display: inline-block; */
    padding: 10px 30px 10px 30px;
    background-color: #079c1c;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin: 20px;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #0056b3;
}

/* Header styles */
/* header {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 1rem; 
}

header h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
} */

header img {
    max-width: 100%;
    height: auto;
}

/* Sections styles */
/* section {
    background-color: #fff;
    margin: 1rem;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

section ul {
    list-style: disc;
    margin-left: 2rem;
    margin-bottom: 1rem;
}

section ul li {
    margin-bottom: 0.5rem;
}

/* Testimonials styles 
blockquote {
    padding: 1rem;
    border-left: 3px solid #007BFF;
    margin: 1rem 0;
}

blockquote p {
    font-style: italic;
}

blockquote footer {
    text-align: right;
    font-weight: bold;
} */

/* Button styles */


/* Footer styles */
/* footer {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

footer ul {
    list-style: none;
}

footer ul li {
    display: inline;
    margin: 0 1rem;
}

/* Social links styles
.social-link {
    color: #007BFF;
    text-decoration: none;
    margin: 0 0.5rem;
}

/* Responsive styles (for smaller screens) 
@media screen and (max-width: 768px) {
    header h1 {
        font-size: 1.5rem;
    }

    section {
        margin: 0.5rem;
        padding: 1rem;
    }
} */


